html {
  scroll-behavior: smooth;
}

body {
  max-width: 1199px;
  font-family: "Amatic SC", cursive;
  font-family: "Lumanosimo", cursive;
  font-family: "Oswald", sans-serif;
  background-color: 121212;
  color: ffffff;
}

.intro {
  margin: 0 auto;
  box-sizing: border-box;
}

.intro_img {
  width: 100%;
  height: 300px;
  display: block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(resources/cup-of-tea.jpg);
}

.intro_content {
  padding-left: 20px;
  padding-top: 50px;
  position: absolute;
}

.intro_text {
  font-size: 25px;
  font-weight: 700;
}

h1 {
  font-size: 25px;
  font-weight: 700;
}

.container {
  width: 100%;
  padding-top: 30px;
}

.add_note {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.title {
  width: 600px;
  height: 40px;
  font-family: inherit;
  font-size: 20px;
  padding-left: 10px;
}

.text {
  width: 600px;
  height: 300px;
  font-family: inherit;
  font-size: 20px;
  word-wrap: break-word;
  overflow: hidden;
  padding-left: 10px;
}

.add_note_btn {
  width: 150px;
  font-family: inherit;
  font-size: 15px;
  letter-spacing: 0.07em;
  background-color: rgb(140, 188, 159);
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.add_note_btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.validationMessage_hidden {
  display: none;
}

.validationMessage {
  color: brown;
}

.notes_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.notes {
  width: 600px;
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  margin-top: 30px;
}

.note {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px;
  border-bottom: 1px;
  border-color: rgb(167, 163, 163);
  border-style: solid;
}

.note_title {
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  word-wrap: break-word;
}

.note_text {
  width: 100%;
  padding: 10px;
  word-wrap: break-word;
}

.note_date {
  color: gray;
  padding-top: 150px;
  padding-left: 10px;
}
